main {
    padding: 5rem 0;
}

main nav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    display: none;
    padding: 2rem 1rem;
    border-right: 1px solid var(--secondary-foreground);
}

@media (width > 900px) {
    main {
        padding: 2rem 0 0 6rem;
    }

    main nav {
        display: block;
        width: 6rem;
    }
}

@media (width > 1400px) {
    main {
        padding-left: 24rem;
    }

    main nav {
        width: 24rem;
    }
}